@font-face {
    font-family: aviny;
    src: url("aviny_ygxd.ttf");
}

@font-face {
    font-family: sans;
    src: url("Iranian\ Sans.ttf");
}

@font-face {
    font-family: koodak;
    src: url("B\ Koodak\ Bold_0.ttf");
}

@font-face {
    font-family: vijaya;
    src: url("Vijaya\ Bold.ttf");
}